
   <h1>Abuela sorda</h1>
   <p>Di algo Abuela:</p> 
   <form action="/nuevo/objeto" method="post">
    <input type="text" name="frase">
    <input type="submit" value="Dilo!">
   </form>

  

   


